@import url(fonts.css);

:root{
	--green-color: #01996D;
	--hover-green: #01805c;
	--dark-green: #245852;
	--grey-color: #424242;
	--Lato: 'Lato';
	--Georgia: 'Georgia';
}

.header{
/*	max-width: 1440px;
	margin: 0 auto;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
}

.header__title{
  	font-family: 'Avenir';
	font-size: 28px;
	color: var(--green-color);
}

.header__nav{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	color: var(--grey-color);
	margin-right: 52px;
}

.header__nav:hover{
	color: var(--green-color);
	transition: color .15s linear;
}

.header__nav:last-child{
	margin-right: 0;
}

.header__sign{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	color: var(--grey-color);
	margin-right: 35px;
}

.header__sign:hover{
	color: var(--green-color);
	transition: color .15s linear;
}

.header__btn{
	background-color: var(--green-color);
	color: #fff;
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	border-radius: 4px;
	padding: 13px 50px;
}

.header__btn:hover{
	background-color: var(--hover-green);
	transition: background-color .15s linear;
}

.intro{
	background: url('../img/BG.png') no-repeat center;
	background-size: cover;
	padding: 175px 30px 200px 30px;
	margin-bottom: 85px;
}

/*.intro{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
}*/

.intro__title{
	padding-bottom: 30px;	
}

.intro__text{
	color: var(--green-color);
	font-family: var(--Georgia);
	font-size: 65px;
	font-weight: 700;
	line-height: 73.85px;
/*	max-width: 440px;*/
}

.intro__subtitle{
	padding-bottom: 58px;
}

.intro__subtext{
/*	max-width: 420px;*/
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: var(--grey-color);
}

.intro__btn{
	background-color: var(--green-color);
	color: #fff;
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	border-radius: 4px;
	padding: 20px 50px;
}

.intro__btn:hover{
	background-color: var(--hover-green);
	transition: background-color .15s linear;
}

.about{
	padding: 65px 30px 51px 30px;
}

.about__info{
	padding-bottom: 102px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__title{
	font-family: var(--Lato);
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 20px;
}

.about__subtitle{
	font-family: var(--Georgia);
	font-weight: 700;
	font-size: 50px;
	line-height: 78px;
	color: var(--green-color);
}

.about__desc-text{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	padding: 50px 0 0 0;
	line-height: 30px;
	color: var(--grey-color);
}

.about__example{
	display: flex;
	justify-content: space-between;
}

.about__item--second{
	padding: 300px 0 0 0;
}

.about__item--third{
	padding: 50px 0 0 0;
}

.about__step-name{
	font-family: var(--Georgia);
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 55px;
	position: relative;
	text-align: center;
/*	position: relative;
    left: -90px*/
}

.about__item--first > .about__step-name:before{
	content: '01';
	font-family: var(--Georgia);
	font-weight: 400;
	font-size: 150px;
	color: rgba(1, 153, 109, 0.2);
	position: absolute;
    top: -101px;
    left: 12px;
}

.about__item--second > .about__step-name{
	text-align: right;
}

.about__item--second > .about__step-name:before{
	content: '02';
	font-family: var(--Georgia);
	font-weight: 400;
	font-size: 150px;
	color: rgba(1, 153, 109, 0.2);
	position: absolute;
    top: -101px;
    left: -2px;
}

.about__item--third > .about__step-name:before{
	content: '03';
	font-family: var(--Georgia);
	font-weight: 400;
	font-size: 150px;
	color: rgba(1, 153, 109, 0.2);
	position: absolute;
    top: -101px;
    left: 23px
}

.about__step-desc{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	padding-bottom: 60px;
	color: var(--grey-color);;
}

.about__image{
	border-radius: 12px;
	background-color: #C4C4C4;
}

.story{
	background-color: var(--dark-green);
	padding: 130px  20px 130px 20px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.story__title{
	font-family: var(--Georgia);
	font-weight: 700;
	font-size: 50px;
	line-height: 79px;
	color: #fff;
	margin-bottom: 33px;
}

.story__desc{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 25px;
	line-height: 39px;
	color: #fff;
	margin-bottom: 57px;
}

.story__btn{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	background-color: var(--green-color);
	color: #fff;
	padding: 20px 50px;
	border-radius: 4px;
}

.story__btn:hover{
	background-color: var(--hover-green);
	transition: background-color .15s linear;
}

.story__video{
	border-radius: 16.3326px;
	width: 876px;
	height: 516px;
	background-color: #C4C4C4;
	position: relative;
}

.product{
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	position: relative;
	margin-bottom: 150px;
}

.product__example{
	padding-left: 30px;
}

.product__img{
	border-radius: 18.1125px;
}

.product__sample{
	background-color: #fff;
	border-radius: 3.72971px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 296.14px;
	padding: 25px 57px;
	position: absolute;
	top: 361px;
	left: 31px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.product__client{
	margin-bottom: 20px;
}

.product__caption{
	font-family: var(--Lato);
	font-weight: 700;
	font-size: 15px;
	line-height: 22.75px;
	text-align: center;
}

.product__caption:after{
	content: '';
	display: block;
	margin: 10px auto;
	background-color: #000;
	width: 110.49px;
	height: 1px;
}

.product__photo{
	border-radius: 50%;
	display: block;
	margin: 10px auto;
}

.product__first-name{
	font-family: var(--Lato);
	font-weight: 700;
	font-size: 11.94px;
	line-height: 18.74px;
	text-align: center;
}

.product__headline{
	font-family: var(--Georgia);
	font-weight: 700;
	font-size: 15.93px;
	line-height: 25.01px;
	text-align: center;
	margin-bottom: 16px;
}

.product__items{
	list-style: disc;
}

.product__item{
	font-family: var(--Lato);
	font-size: 10.62px;
	font-weight: 400;
	line-height: 16.67px;
	margin-bottom: 15px;
}

.product__item:last-child{
	margin-bottom: 0;
}

.product__title{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 25px;
	line-height: 39px;
	color: var(--grey-color);
	margin-bottom: 10px;
}

.product__subtitle{
	font-family: var(--Georgia);
	font-weight: 700;
	font-size: 50px;
	line-height: 79px;
	color: var(--green-color);
	margin-bottom: 20px;
}

.product__desc-text{
	font-family: var(--Lato);
	font-size: 20px;
	line-height: 31.4px;
	font-weight: 400;
	color: var(--grey-color);
	margin-bottom: 40px;
}

.product__btn{
	background-color: var(--green-color);
	color: #fff;
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 20px;
	border-radius: 4px;
	padding: 20px 50px;
}

.product__btn:hover{
	background-color: var(--hover-green);
	transition: background-color .15s linear;
}

.footer{
	background-color: var(--dark-green);
	padding: 95px 30px;
}

.footer__header{
	margin-bottom: 40px;
}

.footer__logo{
	font-family: 'Avenir';
	font-size: 40px;
	color: #fff;
}

/*.footer__navs{
	display: flex;
	flex-direction: column;
}*/

.footer__nav{
	margin-bottom: 40px;
}

.footer__nav:last-child{
	margin-bottom: 0;
}

.footer__link{
	font-family: var(--Lato);
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #fff;
}

.footer__link:hover{
	color: #989898;
	transition: color .15s linear;
}